/* sección hero (mensaje de bienvenida) */
.welcome-title {
  background-color: var(--color-anchorfishBlue);
  border-radius: 1rem;
  margin: 6rem auto;
  padding: 2rem;
  max-width: 120rem;

  display: flex;
  flex-direction: column;
}

.welcome-text-h1 {
  color: var(--color-burningFlame);
  font-size: clamp(2.5rem, 8vw, 6rem);
  font-weight: 700;
  line-height: 0;

}

.welcome-text-h2 {
  color: var(--color-burningFlame);
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.5rem;
  font-weight: 700;
  margin-top: -2rem;  
}

.welcome-title img {
  width: 10rem;
  align-self: flex-end;
}

