/* contenedor principal del login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;

  background-color: var(--color-grey85);
  box-shadow: 0 4px 5px -2px oklch(0 0 0 / 0.25);
  border-radius: 1rem;
  
  max-width: 28rem;
  padding: 2rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.login-input {
  background-color: var(--color-grey95);
  border: none;
  border-radius: 1rem;
  color: var(--color-grey10);
  font: 400 16px/1.6 "Inter", sans-serif;

  padding: 1rem;
  height: 3rem;
  width: 100%;
}

.login-input:focus {
  outline: none;
}

.login-label {
  margin-bottom: -1.5rem;
  text-align: left;
}

.login-options {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.login-options a {
  color: var(--color-grey10);
  text-decoration: none;
  margin-left: auto;
}

.login-paragraph {
  font-size: 0.875rem;
  margin-top: -1rem;
}

#signup {
  text-decoration: none;
  color: var(--color-grey10);
  font-weight: 700;
}