@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-palladian: oklch(0.9352 0.0144 84.58); /* #eee9df */
  --color-oatmeal: oklch(0.813 0.0237 84.59); /* #c9c1b1 */
  --color-burningFlame: oklch(0.8199 0.1318 64.46);  /* #ffb162 */
  --color-blueFantastic: oklch(0.3471 0.0373 253.36); /* #2c3b4d */
  --color-truffelTrouble: oklch(0.5309 0.1148 37.14);  /* #a35139 */
  --color-anchorfishBlue: oklch(0.264 0.0274 251.05); /* #1b2632 */
  --color-jap: oklch(0.7396 0.1656 65.25); /* #f09100 */
  --color-grey95: oklch(96.115% 0.00011 271.152); /* #f2f2f2 - 95% grey */
  --color-grey85: oklch(0.8853 0 0); /* #d9d9d9 - 85% grey */
  --color-grey50: oklch(0.5965 0 0); /* #7f7f7f - 50% grey */
  --color-grey20: oklch(0.3211 0 0); /* #333333 - 20% grey */
  --color-grey10: oklch(0.2178 0 0); /* #1a1a1a - 10% grey */
  --box-shadow: 0 4px 5px -2px oklch(0 0 0 / 0.10);
  scroll-behavior: smooth;
}

.darkmode {
  --color-palladian: oklch(0.2178 0 0);
  --color-burningFlame: oklch(0.8199 0.1318 64.46);
  --color-grey95: oklch(0.8853 0 0);
  --color-grey85: oklch(0.3211 0 0);
  --color-grey10: oklch(96.115% 0.00011 271.152);
}

#theme-switch {
  height: 3rem;
  width: 3rem;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: var(--color-grey95);
  display: flex;
  justify-content: center;
  align-items: center;
} 
#theme-switch svg{
  fill: #FFB162
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}

* {
  box-sizing: border-box;
  color: var(--color-grey10);
}

body {
  background-color: var(--color-palladian);
  font-family: "Inter", sans-serif;
  margin: 0;
  color: var(--color-grey10);
}

.main-content {
  min-height: 100vh;
  margin-right: 16rem;
  margin-left: 16rem;
  /* margin-right: clamp(0.5rem, 16vw, 16rem);
  margin-left: clamp(0.5rem, 16vw, 16rem); */
  padding-bottom: 5rem;
}

h1 {
  font: 700 2/2.5rem "Inter", sans-serif; /* font-weight, font-size, line-height, font-family */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* margin-top: clamp(1rem, 10vw, 6rem);
  margin-bottom: clamp(1rem, 10vw, 6rem); */
}

h2 {
  font: 700 1.5rem/2rem "Inter", sans-serif;
  margin: 0;
}

h3 {
  font: 700 1.25rem/1.5rem "Inter", sans-serif;
}

h4 {
  font: 700 1rem/1.5rem "Inter", sans-serif;
}

h5 {
  font: 400 0.75rem/1rem "Inter", sans-serif;
  color: var(--color-grey50);
  margin: 0;
}

p {
  line-height: 1.5rem;
}

.button-primary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-height: 3rem;
  color: oklch(0.2178 0 0);

  font: 700 1.25rem/1rem "Inter", sans-serif;
  background-color: oklch(96.115% 0.00011 271.152);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: center;
  align-self: center;

  cursor: pointer;
  
  &:hover {
    box-shadow: var(--box-shadow);
  }

  .darkmode {
    color: oklch(73.777% 0.1534 75.497);
  }

}

.button-secondary {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  max-height: 2rem;

  font: 400 1rem/1rem "Inter", sans-serif;
  background-color: var(--color-grey85);
  border: none;
  border-radius: 1rem;

  padding: 0.50rem 0.75rem;

  cursor: pointer;

  &:hover {
    box-shadow: var(--box-shadow);
  }

  & .ph-fill {
    font-size: 1.25rem;
  }
}

.container-link, .container-text {
  color: oklch(0.9352 0.0144 84.58);
  font: 700 1rem/1.5 "Inter", sans-serif;
  text-align: center;
}

.container {
  background-color: var(--color-anchorfishBlue);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-anchorfishBlue);
  
  & .dropdown-button {
    background-color: var(--color-blueFantastic);
    color: oklch(0.9352 0.0144 84.58);
    max-height: 2rem;
    font: 700 1rem/1.5 "Inter", sans-serif;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem 0.25rem 0;
    cursor: pointer;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
  }

  & .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-blueFantastic);
    border-radius: 1rem;
    padding: 0.25rem 0 0.25rem 0;
    box-shadow: var(--box-shadow);
    width: 133.79px;
    z-index: 1;

    & a {
      color: oklch(0.9352 0.0144 84.58);
      font-weight: 500;
      float: none;
      display: block;
    }
  }

  & .dropdown:hover .dropdown-content {
    display: block;
  }

  & .navbar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem clamp(1rem, 16vw, 16rem);
    margin: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
    gap: 1rem;
  }

  & a {
    display: inline-flex;
    text-decoration: none;
    background-color: var(--color-blueFantastic);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;

    &.active {
      color: var(--color-burningFlame);
    }
  }

  & .account-details {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    display: relative;
  }

  & .ph-bold, .ph-fill {
    display: inline-flex;
    align-self: center;
    color: oklch(0.9352 0.0144 84.58);
  }

  & .navbar-cart-icon {
    gap: 0.5rem;

    .ph-fill {
      font-size: 1.5rem;
    }
  }

  & .account-avatar {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: oklch(0.9352 0.0144 84.58);
    margin-right: 0.25rem;
    flex-shrink: 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;

  p, a {
    color: oklch(0.9352 0.0144 84.58);
  }
}
