/* contenedor de un producto - contiene la información de un producto (.product-info) */
.products-container {
  display: flex;
  flex-flow: row wrap;

  gap: 1rem;
  margin: 0 auto;
  padding-top: 6rem;
}

/* información de un producto - contiene las imágenes del mismo (.product-carousel) y su información (.product-content) */
.product-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

/* carrusel de imágenes de un producto */
.product-carousel {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 3rem;
  flex-shrink: 0;

  anchor-name: --carousel;
  scroll-snap-type: x mandatory;

  max-width: calc(24.6rem * 16/9);
  height: fit-content;
  overflow: hidden;
  scroll-behavior: smooth;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &::scroll-button(right), &::scroll-button(left) {
    content: '->';
    border: none;
    background-color: hsla(0, 0%, 10%, 0.30);
    font: 800 1rem/1rem "Inter", sans-serif;
    border: 2px solid var(--color-grey95);
    color: var(--color-grey95);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    flex-shrink: 0;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -250%;
  }

  &::scroll-button(left) {
    content: '<-';
    position-area: left center;
    translate: 250%;
  }

  &::scroll-button(right):disabled, &::scroll-button(left):disabled {
    opacity: 0.35;
    cursor: auto;
  }

  .carousel-image {
  scroll-snap-align: center;
  max-height: 24.6rem;
  width: auto;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  object-fit: contain;
  background-color: white;
  flex-shrink: 0;
  scroll-snap-stop: always;
  }
}

/* información de un producto - contiene la descripción del mismo (.product-description) */
.product-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* descripción de un producto - contiene el nombre del producto (.product-description-title), la categoría a la que pertenece y la información del producto */
.product-description {
  background-color: var(--color-grey85);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  
  & .product-description-title h2 {
    padding: 0;
    margin: 0;
  }
}

/* contenedor de los botones de acción de un producto */
.buttons-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0 !important;
}

/* calificación de un producto - incluye las estrellas, el número de calificaciones y el total de vendidos */
.product-stars-sells {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  & .product-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
  }
  
  & h5 {
    color: var(--color-grey50);
  }

  & .ph-fill, .ph {
    color: var(--color-burningFlame);
    font-size: 1.125rem;
  }
}

span {
  font-weight: bold;
}

/* botones de opciones de los productos - contiene el contenedor de los botones (.buttons-container) el precio del producto y el botón de añadir al carrito (.product-add-cart) */
.product-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  gap: 1rem;

  .product-add-cart {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
  }

  h2 {
    padding: 0;
    margin: 0;
  }
}

/* ESTILOS DE LAS CALIFICACIONES CELU FLIP*/
.product-reviews {
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
}

.review-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-grey85);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 0.30rem;
  margin-bottom: 0.25rem;
}

.review-author {
  font-weight: 700;
}

.review-date {
  color: var(--color-grey50);
  font-size: 0.875rem;
}

.review-stars {

  .ph-fill, .ph {
    color: var(--color-burningFlame);
    font-size: 1.125rem;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
  }

  margin-left: auto;
}

.review-text {
  margin: 0;
  line-height: 1.5;
}

/* añadir una opinión a un producto */
.product-add-review {
  display: flex;
  flex-direction: column;

  background-color: var(--color-grey85);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 1rem;

  h3 {
    margin: 0;
    padding-bottom: 1rem;
  }
}

.review-contents {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
}

.review-text-field {
  display: flex;
  flex: 1;
}

.review-text-field textarea {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--color-grey20);
  width: 100%;
  border: none;
  border-radius: 1rem;
  
  resize: none;
  padding: 1rem;

  &:focus {
    outline: none;
  }
}

.review-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
  align-items: stretch;
}

.review-controls button {
  width: 100%;
}

/* SECCION PRODUCTOS RELACIONADOS */
.product-reviews {
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
}

/* FONDO DE LAS FOTOS DE LOS P.R, Y EL BORDE*/
.product-related-container {
  background-color: transparent;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  border: 2px solid var(--color-oatmeal);
  justify-content: center;
}

/* PONE LOS P.R EN COLUMNAS*/
.related-products-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
}

/* IMAGEN Y TEXTO DE CADA P.R*/
.related-product-item {
  cursor: pointer; /* CAMBIA LA FORMA DEL MOUSE POR UNA MANITO */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem; /* ESPACVIO ENTRE EL P.R Y SU DESCRIPCION*/
  flex-shrink: 0;
}


/* ESTILO DE LA IMAGEN DENTRO DE LA CAJA*/
.related-product-item img {
  width: 100%;
  max-width: 50rem;
  height: 15rem;
  object-fit: contain;
  aspect-ratio: 16 / 9;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: var(--box-shadow);
}

/* NOMBRE DEL PRODUCTO*/
.related-product-name {
  margin: 0;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1; /* fallback de compatibilidad */
  -webkit-box-orient: vertical;
}

/* PRECIO DE LOS P.R*/
.related-product-price {
  margin: 0;
  line-height: 1.5rem;
}

/* BOTONES DE NAVEGACION, FLECHITAS*/
.related-nav-btn {
  flex-shrink: 0;
  background-color: hsla(0, 0%, 10%, 0.2);
  border: 2px solid var(--color-grey95);
  color: var(--color-grey95);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  font: 800 1rem/1rem "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
/* LAS FLECHAS SE POENNE MAS OSCURAS*/
.related-nav-btn:hover {
  background-color: hsla(0, 0%, 10%, 0.3);
}