/* elementos de la navbar que la hacen responsive */
.navbar-toggle {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: clamp(0.5rem, 8vw, 16rem);
  position: absolute;
  right: 1rem;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: oklch(0.9352 0.0144 84.58);
  margin: 3px 0;
  transition: 0.3s;
  border-radius: 2px;
}

/* <- responsive design -> */
@media (max-width: 1366px) {
  .title {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .main-content {
    margin-right: 8rem;
    margin-left: 8rem;
  }

  .product-info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .categories-product {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .product-image {
    max-width: 100%;
  }

}

@media (max-width: 768px) {
  .main-content {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}

@media (max-width: 320px) {
  .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .main-content {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .product-price h2, .product-description h2 {
    font-size: 1.25rem;
  }

  .icon-car-type {
    width: 20px;
    height: 20px;
}

}

/* @media (max-width: 1024px) {
  .main-content{
    margin-right: clamp(0.5rem, 8vw, 16rem);
    margin-left: clamp(0.5rem, 8vw, 16rem);
  }
} */

/* @media (max-width: 1600px) {
  .main-content {
    margin-right: clamp(0.5rem, 8vw, 16rem);
    margin-left: clamp(0.5rem, 8vw, 16rem);
  } */

/* <- responsive design -> */


/* <- responsive design para la navbar -> */
@media (max-width: 850px) {
  
  .main-content {
    padding-bottom: 10rem;
  }
  
  .container {
    height: auto;
    min-height: 3rem;
    justify-content: center;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-links {
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: var(--color-anchorfishBlue);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem 1rem 1.5rem !important;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;

    & li {
      width: 100%;
    }

    /* & li:last-child {
      padding-bottom: 1rem;
    } */

    & a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  .account-details {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-button {
    width: 100%;
    justify-content: center !important;
    padding: 0.5rem !important;
    margin: 0 !important;
  }

  .dropdown-content {
    position: relative !important;
    width: 100% !important;
    margin-top: 0.25rem;
  }

  .navbar-cart-icon {
    width: 100%;
    justify-content: center;
  }
  
  .cart-container {
    grid-template-columns: 1fr !important;
  }

  #modal-payment {
    margin: 3rem auto auto auto !important;
  }
}