/* elementos de la navbar que la hacen responsive */
.navbar-toggle {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: clamp(0.5rem, 8vw, 16rem);
  position: absolute;
  right: 1rem;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: var(--color-palladian);
  margin: 3px 0;
  transition: 0.3s;
  border-radius: 2px;
}

/* <- responsive design -> */
@media (max-width: 1366px) {
  .title {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .main-content {
    margin-right: 8rem;
    margin-left: 8rem;
  }
}

@media (max-width: 1024px) {
  .categories-product {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .product-image {
    max-width: 100%;
  }
  
}

@media (max-width: 768px) {
  .main-content {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}

@media (max-width: 320px) {
  .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .title h1{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .title p {
    font-size: 0.75rem;
  }
  
  .main-content {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .product-price h2, .product-description h2 {
    font-size: 1.25rem;
  }

.icon-car-type {
  width: 20px;
  height: 20px;
}

  .product-price-sold h4, .product-price p {
    font-size: 0.5rem;
  }

  .product-description p {
    font-size: 0.75rem;
  }
}

/* @media (max-width: 1024px) {
  .main-content{
    margin-right: clamp(0.5rem, 8vw, 16rem);
    margin-left: clamp(0.5rem, 8vw, 16rem);
  }
} */

/* @media (max-width: 1600px) {
  .main-content {
    margin-right: clamp(0.5rem, 8vw, 16rem);
    margin-left: clamp(0.5rem, 8vw, 16rem);
  } */

/* <- responsive design -> */


/* <- responsive design para la navbar -> */
@media (max-width: 650px) {
  
  .main-content {
    padding-bottom: 1rem;
  }
  
  .container {
    height: auto;
    min-height: 3rem;
    justify-content: center;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-links {
    width: 100%;
    flex-direction: column;
    background-color: var(--color-anchorfishBlue);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;

    & li {
      width: 100%;
    }

    & li:last-child {
      padding-bottom: 1rem;
    }

    & a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}